# Project
target/
*.lock
*.bin
.gradle/

# Mac
.DS_Store

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# idea files
.idea
*.iml

# workspace
workspace/

# eclipse files
.settings/
#.project
.classpath

#all files not associated with SBMLSheets but Insilico
devel/
releng/
scripts/
/pom.xml
#tests should later be implemented
tests/
#folders with SBMLSheets files
bundles/*
features/*
#don't exclude sbmlsheets files
!bundles/org.insilico.sbmlsheets
!features/org.insilico.sbmlsheets.feature



